<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
>
{{ 'custom-featured-products.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .custom-featured__heading,
  .custom-featured__collection{
    color: {{ section.settings.text_color }};
  }
  .custom-featured__collection-list{
    border: 2.5px solid {{ section.settings.text_color }};
  }

  .custom-featured__collection {
    color: {{ section.settings.text_color }};
  }
  .custom-featured__collection--active{
    background: {{ section.settings.text_color }};
    color: #E9EBCE;

  }
  .custom-featured__title, .custom-featured__description, .custom-featured__options{
    color: {{ section.settings.text_color }};
  }
  .custom-button{
    background: {{ section.settings.buttons_color }};
  }
  .custom-featured__price{
    color: {{ section.settings.buttons_color }};
  }
  .swiper-button-next, .swiper-button-prev{
    background: {{ section.settings.buttons_color }};
  }
{% endstyle %}

<div
  class="custom-featured custom-featured__swiper-section section-custom-featured-product-items page-width section-{{ section.id }}-padding"
  id="custom-featured-section-id-{{ section.id }}"
  data-time-rotate="{{ section.settings.time_rotate }}"
  data-autorotate="{{ section.settings.auto_rotate }}"
  data-desktop-items="{{ section.settings.desktop_quantity }}"
  data-tablet-items="{{ section.settings.tablet_quantity }}"
  data-mobile-items="{{ section.settings.mobile_quantity }}"
>
  <div class="custom-featured__heading">
    {{ section.settings.heading }}
  </div>
  <div class="custom-featured__collection-list">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'Collection' %}
          <div
            class="custom-featured__collection {% if forloop.first %}custom-featured__collection--active{% endif %}"
            data-collection-id="{{ block.settings.collection.id }}"
          >
            {% if block.settings.collection != blank %}
              {{ block.settings.collection.title }}
            {% else %}
              Collection-{{ forloop.index }}
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="custom-featured__product-list">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'Collection' %}
          {% if block.settings.collection %}
            <div
              class="custom-featured__products"
              data-collection-id="{{ block.settings.collection.id }}"
              {% if forloop.first %}
                style="display: flex;"
              {% else %}
                style="display: none;"
              {% endif %}
            >
              {% if block.settings.collection != blank %}
                <div class="swiper" data-index="{{ forloop.index }}">
                  <div class="swiper-wrapper">
                    {% for product in block.settings.collection.products %}
                      <div class="custom-featured__product swiper-slide" data-product-id="{{ product.id }}">
                        <div class="custom-featured__image">
                          {%- capture srcset -%}
                          {{ product.featured_image | image_url: width: 165 }} 165w,
                          {{ product.featured_image | image_url: width: 360 }} 360w,
                          {{ product.featured_image | image_url: width: 533 }} 533w,
                          {{ product.featured_image | image_url: width: 720 }} 720w,
                          {{ product.featured_image | image_url: width: 940 }} 940w,
                          {{ product.featured_image | image_url: width: 1066 }} 1066w,
                          {{ product.featured_image | image_url: width: 1600 }} 1600w
                          {%- endcapture -%}
                          <a href="{{ product.url | url_escape}}">
                            {{
                              product.featured_image
                              | image_url: width: 400
                              | image_tag:
                                srcset: srcset,
                                sizes: '(min-width: 1200px) 400px, (min-width: 750px) 50vw, 100vw',
                                alt: product.title,
                                loading: 'lazy'
                            }}
                          </a>
                        </div>
                        <div class="custom-featured__product-info">
                          <a href="{{ product.url | url_escape}}">
                            <div class="custom-featured__title">{{ product.title }}</div>
                          </a>
                          <div class="custom-featured__description">
                            {{ product.description | strip_html | truncate: 25 }}
                          </div>
                          <div class="custom-featured__info">
                            <div class="custom-featured__price" id="product-price-{{ product.id }}">
                              {{ product.price | money_without_trailing_zeros }}
                            </div>

                            {% if product.variants.size > 1 %}
                              <select class="custom-featured__options" data-product-id="{{ product.id }}">
                                {% for variant in product.variants %}
                                  <option
                                    value="{{ variant.id }}"
                                    data-price="{{ variant.price }}"
                                    data-available="{{ variant.available }}"
                                    data-image="{{ variant.image.src | img_url: '600x' }}"
                                    data-currency="{{ localization.country.currency.symbol }}"
                                  >
                                    {{ variant.title }}
                                  </option>
                                {% endfor %}
                              </select>
                            {% endif %}
                          </div>
                          <div class="custom-featured__add-to-cart">
                            <button
                              class="custom-button {% if product.available %} custom-featured__add-to-cart--click {% else %} custom-featured__add-to-cart--disabled {% endif %}"
                              data-product-id="{{ product.id }}"
                              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                            >
                              {% if product.available %}
                                <span> {% render 'custom-cart-icon' %} </span>
                              {% else %}
                                <span> {% render 'custom-sold-out' %} </span>
                              {% endif -%}
                              <span class="custom-featured__button-label">
                                {%- if product.available %}
                                  Add to cart
                                {% else %}
                                  Sold Out
                                {% endif -%}
                              </span>
                            </button>
                          </div>
                          <div class="custom-featured__success-message">Added to the cart</div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="custom-featured__swiper-pagination">
                    <div class="swiper-button-prev" data-index="{{ forloop.index }}"><span></span></div>
                    <div class="swiper-button-next" data-index="{{ forloop.index }}"><span></span></div>
                  </div>
                </div>
              {% else %}
                <div class="custom-featured__product-placeholder">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      {% for i in (1..section.settings.desktop_quantity) %}
                        {% assign placeholder_image = 'product-' | append: i %}
                        <div class="custom-featured__product swiper-slide" data-product-id="{{ product.id }}">
                          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ 'custom-featured-products.js' | asset_url }}" defer></script>



<script>
document.addEventListener('DOMContentLoaded', initCustomSection);
document.addEventListener('shopify:section:load', initCustomSection);
document.addEventListener('shopify:section:select', initCustomSection);

function initCustomSection() {
  const uniqueSection = document.querySelector('#custom-featured-section-id-{{ section.id }}');
  if (!uniqueSection) return;

  updateSwiper(uniqueSection);
  setChoosenCollectionqwe(uniqueSection);
  updateCart(uniqueSection);
  updateOptions(uniqueSection);
}

</script>

{% schema %}
{
  "name": "Custom Featured Products",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Section Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "buttons_color",
      "label": "Section Buttons Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Custom Featured Products"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "default": true,
      "label": "Auto Rotate Items"
    },
    {
      "type": "range",
      "id": "time_rotate",
      "label": "Seconds for changing slides",
      "info": "If you don't see the changes click Save button",
      "min": 3,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "default": 5
    },
    {
      "type": "select",
      "id": "desktop_quantity",
      "label": "Items on Desktop",
      "default": "4",
      "info": "If you don't see the changes click Save button",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "tablet_quantity",
      "label": "Items on Tablet",
      "default": "2",
      "info": "If you don't see the changes click Save button",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_quantity",
      "label": "Items on Mobile",
      "default": "1",
      "info": "If you don't see the changes click Save button",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Products",
      "blocks": [
        {
          "type": "Collection"
        },
        {
          "type": "Collection"
        },
        {
          "type": "Collection"
        },
        {
          "type": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
